<div class="new">
  <header>
    <div class="commands">
      <%= link_to "", @spaeti, :remote => true, :class => "rp save", :title => "Erstellen" %>
      <a href="" class="rp cancel" title="Abbrechen"></a>
    </div>
    <div class="clearfix"></div>
  </header>
  <%= form_for(@spaeti, :remote => true) do |f| %>
      <%= @spaeti.errors.first %>
      <p>
        <%= f.text_field :name, :placeholder => "Name" %>
      </p>
      <p>
        <%= f.text_field :street, :placeholder => "Straße" %><%= f.text_field :number, :placeholder => "Nr.", :size => 5 %>
      </p>
      <p>
        <%= f.text_field :postal, :placeholder => "PLZ", :size => 5 %><%= f.text_field :city, :placeholder => "Stadt" %><%= f.text_field :district, :placeholder => "Bezirk", :size => 18 %>
      </p>
      <p>
        <%= f.text_field :open, :placeholder => "geöffnet bis" %>
      </p>

      <div id="newspaeti_errors"></div>
  <% end %>
  <div id="features">
    <%= render :partial => 'features/features' %>
  </div>
  <div class="clearfix"></div>
  <div id="products">
    <%= render :partial => 'products/products' %>
  </div>
  <div class="clearfix"></div>
</div>