<% unless @spaeti.nil? %>
<%= form_for(@spaeti, :remote => true) do |f| %>
    <%= f.label :name, "Name" %>
    <p>
      <%= f.text_field :name %>
    </p>
    <%= f.label :street, "Straße" %> / <%= f.label :number, "Hausnummer" %>
    <p>
      <%= f.text_field :street %><%= f.text_field :number, :size => 3 %>
    </p>
    <%= f.label :postal, "PLZ" %> / <%= f.label :city, "Stadt" %> / <%= f.label :district, "Bezirk" %>
    <p>
      <%= f.text_field :postal, :size => 5 %><%= f.text_field :city %><%= f.text_field :district, :size => 19 %>
    </p>
    <%= f.label :open, "geöffnet bis" %>
    <p>
      <%= f.text_field :open %>
    </p>
    <%= render :partial => 'features/features' %>
    <%= render :partial => 'features/form' %>
    <p><%= f.submit "Speichern" %></p>
    <div id= "spaeti_errors"></div>
<% end %>
<% end %>