<% unless @spaeti.nil? %>
    <h2><%= @spaeti.name %></h2>
    <p>
      <%= @spaeti.street %> <%= @spaeti.number %>
    </p>
    <p>
      <%= @spaeti.postal %> <%= @spaeti.city %> - <%= @spaeti.district %>
    </p>
    <p>
      <% unless @spaeti.open.nil? %>
        <b>ge&ouml;ffnet bis: </b><%= @spaeti.open %>
      <% end %>
    </p>
<% end %>