<% unless @spaeti.nil? %>
    <div class="details active">
      <header>
        <h2><%= @spaeti.name %></h2>

        <div id="rate">
          <%= render :partial => 'rates/form' %>
        </div>
        <div class="commands">
          <%= link_to "", edit_spaeti_path(@spaeti), :remote => true, :class => "rp edit", :title => "Bearbeiten" %>
          <%= link_to "", @spaeti, :remote => true, :confirm => 'Diesen Spätkauf löschen?', :method => :delete, :class => "rp del", :title => "Löschen" %>
        </div>
        <div class="clearfix"></div>
      </header>
      <div id="spaeti">
        <p>
          <%= @spaeti.street %> <%= @spaeti.number %>
        </p>

        <p>
          <%= @spaeti.postal %> <%= @spaeti.city %>
          <% unless @spaeti.district.nil? %> -
              <% end %><%= @spaeti.district %>
        </p>

        <p>
          <% unless @spaeti.open.nil? %>
              <b>ge&ouml;ffnet bis: </b><%= @spaeti.open %>
          <% end %>
        </p>
      </div>
      <% unless @spaeti.id.nil? %>
          <div id="features">
            <%= render :partial => 'spaeti_features/features' %>
          </div>
          <div id="products">
            <%= render :partial => 'spaeti_products/products' %>
          </div>
          <div class="clearfix"></div>
          <div id="gmap">
            <%= render :partial => 'map' %>
          </div>
          <h3>Kommentare</h3>

          <div id="comments">
            <%= render :partial => 'comments/comments' %>
          </div>
      <% end %>
    </div>
<% end %>