<% unless @spaeti.nil? %>
    <header>
      <h2><%= @spaeti.name %></h2>

      <div id="rate">
        <%= render :partial => 'rates/form' %>
      </div>
    </header>
    <div id="spaeti">
      <p>
        <%= @spaeti.street %> <%= @spaeti.number %>
      </p>

      <p>
        <%= @spaeti.postal %> <%= @spaeti.city %>
        <% unless @spaeti.district.nil? %> -
            <% end %><%= @spaeti.district %>
      </p>

      <p>
        <% unless @spaeti.open.nil? %>
            <b>ge&ouml;ffnet bis: </b><%= @spaeti.open %>
        <% end %>
      </p>
    </div>
    <% unless @spaeti.id.nil? %>
        <div id="features">
          <%= render :partial => 'features/features' %>
        </div>
        <div class="clearfix"></div>
        <%= render :partial => 'comments/comments' %>
    <% end %>
<% end %>