<% @spaetis.each do |spaeti| %>
    <div class="item">
      <div class="name">
        <%= link_to spaeti.name, spaeti, :remote => true %>
      </div>
        <div class="info">
          <%= spaeti.street %> <%= spaeti.number %>, <%= spaeti.postal %> <%= spaeti.city %>
        </div>
    </div>
<% end %>