<% title "Spaeti" %>

<p>
  <strong>Name:</strong>
  <%= @spaeti.name %>
</p>
<p>
  <strong>Street:</strong>
  <%= @spaeti.street %>
</p>
<p>
  <strong>Number:</strong>
  <%= @spaeti.number %>
</p>
<p>
  <strong>Postal:</strong>
  <%= @spaeti.postal %>
</p>
<p>
  <strong>City:</strong>
  <%= @spaeti.city %>
</p>
<p>
  <strong>District:</strong>
  <%= @spaeti.district %>
</p>
<p>
  <strong>Open:</strong>
  <%= @spaeti.open %>
</p>

<p>
  <%= link_to "Edit", edit_spaeti_path(@spaeti) %> |
  <%= link_to "Destroy", @spaeti, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", spaetis_path %>
</p>
