<% title "Spaeti Product" %>

<p>
  <strong>Spaeti:</strong>
  <%= @spaeti_product.spaeti_id %>
</p>
<p>
  <strong>Product:</strong>
  <%= @spaeti_product.product_id %>
</p>

<p>
  <%= link_to "Edit", edit_spaeti_product_path(@spaeti_product) %> |
  <%= link_to "Destroy", @spaeti_product, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", spaeti_products_path %>
</p>
