<% title "Product" %>

<p>
  <strong>Sid:</strong>
  <%= @products.sID %>
</p>
<p>
  <strong>Name:</strong>
  <%= @products.name %>
</p>

<p>
  <%= link_to "Edit", edit_products_path(@products) %> |
  <%= link_to "Destroy", @products, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", products_path %>
</p>
