<% title "Features" %>

<table>
  <tr>
    <th>Sid</th>
    <th>Name</th>
  </tr>
  <% for features in @features %>
    <tr>
      <td><%= features.sID %></td>
      <td><%= features.name %></td>
      <td><%= link_to "Show", features %></td>
      <td><%= link_to "Edit", edit_features_path(features) %></td>
      <td><%= link_to "Destroy", features, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Features", new_features_path %></p>
