<%= form_for(@rate, :remote => true) do |f| %>
    <p>
      <%= f.number_field :sID %>
    </p>
    <p>
      <%= f.number_field :points %>
    </p>
    <p>
      <%= f.number_field :ratings %>
    </p>
    <% for i in 1..5 %>
        <% points = 0 %>
        <% if @rate.ratings > 0 %>
            <% points = @rate.points.to_f / @rate.ratings %>
        <% end %>
        <% points += 0.5 %>
        <% if i <= points.to_int %>
            <span class="rp rate <%= i %> true"></span>
        <% else %>
            <span class="rp rate <%= i %> false"></span>
        <% end %>
    <% end %>
    <span class="rates"><%= @rate.ratings %></span>
<% end %>