<% title "Rates" %>

<table>
  <tr>
    <th>Sid</th>
    <th>Points</th>
    <th>Ratings</th>
  </tr>
  <% for rate in @rates %>
    <tr>
      <td><%= rate.sID %></td>
      <td><%= rate.points %></td>
      <td><%= rate.ratings %></td>
      <td><%= link_to "Show", rate %></td>
      <td><%= link_to "Edit", edit_rate_path(rate) %></td>
      <td><%= link_to "Destroy", rate, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Rate", new_rate_path %></p>
