<% title "Rate" %>

<p>
  <strong>Sid:</strong>
  <%= @rate.sID %>
</p>
<p>
  <strong>Points:</strong>
  <% for i in 1..5 %>
      <% points = (@rate.points / @rate.ratings).to_int %>
      <% if i <= points %>
          <span class="rp rate <%= i %> true"></span>
      <% else %>
          <span class="rp rate <%= i %> false"></span>
      <% end %>
  <% end %>
  <%= @rate.points %>
</p>
<p>
  <strong>Ratings:</strong>
  <%= @rate.ratings %>
</p>

<p>
  <%= link_to "Edit", edit_rate_path(@rate) %> |
  <%= link_to "Destroy", @rate, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", rates_path %>
</p>
