<!DOCTYPE html>
<html lang="de">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>spaetiVZ</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'functions' %>
    <%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true&region=DE&language=de' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="flash_notice"></div>
      <header>
        <div>
          <% title "spaetiVZ" %>
          <%= content_tag :h1, yield(:title) if show_title? %>
          <p><%= link_to "New Spaeti", new_spaeti_path, :remote => true, :class => 'new' %></p>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
